<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo.main">

    <application>
        <activity
            android:name=".fifth.ballslide.BallSlidingActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DemoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".first.databinding.DataBindingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".first.TextActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".first.GlideActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".third.ARouterActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".second.clicktouch.ClickEventAndDispatchActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".second.viewpager2.ViewPager2Activity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".second.NotificationActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".fourth.VideoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".fourth.recyclerview.RecyclerViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".fourth.AidlActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".fifth.customview.CustomViewActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity
            android:name=".six.nested.NestedDemoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <receiver android:name=".widget.DeskTopWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/example_appwidget_info" />
        </receiver>
    </application>

</manifest>