<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.demo.service">

    <application>
        <activity
            android:name=".ServiceMainActivity"
            android:exported="true" />

        <service
            android:name=".activity.BookManagerService"
            android:enabled="true"
            android:exported="true"
            android:process="com.example.demo.service">
            <intent-filter>
                <action android:name="com.example.demo.SERVICE_MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
    </application>

</manifest>